<html>
<head>
	<title>The actual game!</title>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.js"></script>
	<script type="text/javascript" src="js/rps.js"></script>

</head>
<body>
	<form method= "get" action= "/resultsAreIn">

	The fateful choice: Rock, Paper, or Scissors?<BR><BR><BR><BR><BR>
		<img src="rock.jpg" id='rock'>
		<img src="paper.jpg" id='paper'>
		<img src="scissors.jpg" id='scissors'><BR><BR><BR>
	</form>

</body>
</html>