<HTML>
	<HEAD>
		<TITLE>Rock, Paper, Scissors!</TITLE>
		<LINK REL="stylesheet" TYPE="text/css" HREF="css/home.css">
		<SCRIPT SRC="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></SCRIPT>
		<SCRIPT SRC="js/rps.js"></SCRIPT> 
	</HEAD>

	<BODY>
		<DIV ID="main">
			Your standard game of Rock Paper Scissors. Rock beats Paper beats Scissors beats Rock.
		<BR><BR><BR><BR>
			<form method="post" action="/login">
				<input type="text" name="username" placeholder="Username here.">
				<input type="submit" value="Login!">
				</form>
		</DIV>
	</BODY>
</HTML>